<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">


        {% for field in form %}
    {% if field.name == 'profile_pic' %}
        <input type="file" name="profile_pic" accept="image/*" class="form-control" style="display: none;">
    {% else %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endif %}
{% endfor %}





    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
            {{button_text}}
            {% else %}
            Submit
            {% endif %}

        </button>
    </div>
</form>