<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">


        {% for field in form %}
        {% if field.name == 'profile_pic' %}
            <input type="file" name="profile_pic" accept="image/*" class="form-control" style="display: none;">
        {% else %}
            {% if field.name == 'address' %}
                <textarea name="address" cols="40" rows="10" class="form-control" id="id_address" style="display: none;"></textarea>
            {% else %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    





    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
            {{button_text}}
            {% else %}
            Submit
            {% endif %}

        </button>
    </div>
</form>
<script>
    // JavaScript code to change the label text
    document.addEventListener('DOMContentLoaded', function() {
        var label = document.querySelector('label[for="id_course"]');
        if (label) {
            label.innerText = 'Branch:';
        }
    });
</script>